
@font-face {
    font-family: boker;
    src: url('../Assets/Boker.ttf'), url('../Assets/Boker.woff');
}

* {
    color:black;
    direction: rtl;
    font-family: boker;
    font-size: large !important;
    outline: 0 !important;
}

.digits {
    font-family: Serif;
}
@logo_image_background: white;
@logo_image_foreground: black;
@inactive_color: gray;
@typical_side_padding: 15px;
@fade_duration: .5s;

@media screen and (max-width:767px) {
    @logo_image_height: 43px;
    .studio_makom_body {
        padding: 0px;
    }
    .navbar-toggle{
        margin: 10px !important;
        padding: 5px !important;
    }
    .navbar {
        /*height: @logo_image_height;*/
        background-color: @logo_image_background;
    }
    
    .logo-mobile{
        margin:10px;
        
    }
    .carousel{
        padding: 0px !important;
    }

}

@media screen and (min-width:768px) {
    @logo_image_height: 105px;
    .studio_makom_body {
        padding: 10px;
    }
    .logo-mobile{
        display:none;
        
    }
    .navbar .navbar-collapse{
        height: @logo_image_height;
        background-position: right top;
        background-repeat: no-repeat;
        background-image: url('../Assets/logo.jpg');
    }

    .navbar .container{
        padding-left: 0;
        padding-right:0;
    }
    .navbar .navbar-collapse {
        padding-top:68px;
    }
    ul.nav{
      border-left: 1px solid @logo_image_foreground;
      padding-left: @typical_side_padding;
    }
    ul.nav a {
        padding: 5px 20px 5px 20px;
        margin-bottom: 20px;
        color:@logo_image_foreground !important;
    }
    .navbar-default .navbar-nav > .active > a {
        border: 1px solid @logo_image_foreground;
        border-top-color: @logo_image_background;
        color: @inactive_color;
    }

    .navbar-default {
        background-color: rgba(0,0,0,0);
        border-color: rgba(0,0,0,0);
    }
}

.navbar-default .navbar-nav > .active > a {
        background-color: transparent !important;
}

.navbar{
    border: 0;
}
.carousel .item {
    -webkit-transition: opacity @fade_duration;
    -moz-transition: opacity @fade_duration;
    -ms-transition: opacity @fade_duration;
    -o-transition: opacity @fade_duration;
    transition: opacity @fade_duration;
    width:100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.carousel .active.left, .carousel .active.right {
    left:0;
    opacity:0;
    z-index:3;
}

.carousel{
    padding: 0 @typical_side_padding 0 @typical_side_padding;
}